body {
  background-color: #101010;
  color: #ffffff;
  font-family:monospace;
  font-weight: 100;
}
h1 {
  font-family:monospace;
  font-weight: 100;
  font-size: 24px;
  color: #ffffff;
}
h3 {
  font-family:monospace;
  font-weight: 100;
  font-size: 16px;
  font-style: italics;
  color: #ffffff;
}
nav a {
  font-family:monospace;
  font-weight: 100;
  color: #FFFF00;
}
img {
  border: 2px solid white;
  border-radius: 12px;
  padding: 5px;
  max-width: 50%;
  height: auto;
}
footer {
  font-family:monospace;
  font-weight: 100;
  color: #ffffff;
  font-size: 8px;
}
